---
---

@import "{{ site.theme }}";

.inner {
  max-width: 65%;
}

table {
  margin-right: auto;
  margin-left: auto;
}

#nag_logo {
  border: none;
  box-shadow: none;
  max-height: 74px;
  max-width: 144.5px;
}
